.MuiDialog-container > div {
  border-radius: 10px !important;
  padding: 24px;
  min-width: 300px;
  display: flex;
  flex-flow: column;

  .dialog-content {
    display: flex;
    flex-flow: column;

    > * {
      margin-bottom: 12px !important;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  .dialog-actions {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    margin-top: 24px;

    > * {
      margin-right: 12px !important;
    }

    > *:last-child {
      margin-right: 0 !important;
    }
  }
}
