header {
  width: calc(100% - 48px);
  max-width: $max-width;
  margin: 30px auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 $container-default-padding;

  #name {
    margin-left: 10px;
  }
}
