main {
  width: calc(100% - 48px);
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-default-padding;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "cta actions";
  flex-flow: row;
  flex-grow: 1;
  align-items: center;

  #cta {
    grid-area: cta;
    text-align: center;
  }

  #actions {
    grid-area: actions;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 170px;
    justify-self: center;

    > button {
      margin-bottom: 12px;
    }

    > button:last-child {
      margin-bottom: 0;
    }
  }
}
